- title 'Weather Stations'
.weather-stations
  - @weather_stations.each do |weather_station|
    .weather-station
      = link_to "#{weather_station.name}(#{weather_station.identifier})", weather_station
= will_paginate @weather_stations
